<div class="container">
  <p class="content">
    <span class = "bolded">{{multi_attribute_info.min_name}}</span> : {{multi_attribute_info.min}} {{multi_attribute_info.measuring_unit}}
  </p>

  <p class="content">
    <span class = "bolded">{{multi_attribute_info.max_name}}</span> : {{multi_attribute_info.max}} {{multi_attribute_info.measuring_unit}}
  </p>

  <p class="content">
    <span class = "bolded">{{multi_attribute_info.avg_name}}</span> : {{multi_attribute_info.avg}} {{multi_attribute_info.measuring_unit}}
  </p>
</div>
