.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.user-icon{
    background-color: rgba(48, 92, 124, 1);
    border-radius: 50%;
    width: 18%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 26px;
    margin: auto;
    padding: 3%;
}
.user{
    font-size: 2rem;
    color: white;
}

.form-name{
    font-family: 'inter';
    margin: auto;
    padding: 12% 0 0 0;
}
.login-submit-button{
    background-color: rgba(48, 92, 124, 1);
    width: 100%;
    font-family: 'inter';
}
.login-footer{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5%;
}
.forgot-password{
    text-decoration: none;
    color: black;
    font-family: 'inter';
    font-size: 75%;
}
.signup-note{
    font-family: 'inter';
    font-size: 75%;
}
.signup-note-link{
    color: rgb(2, 18, 41);
}