<div class="container">
  <h1>File Upload</h1>
  <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label id="clusterName" for="clusterName">Enter Cluster/Session Name</label>
      <br>
      <input type="text" formControlName="clusterName" class="clusterName">
      <br>
      <br>
      <label id="file" for="file">Select File(s)</label>
      <input type="file" multiple formControlName="file" class="form-control-file" name="file"
             (change)="onFileSelect($event)">
    </div>
    <div *ngIf="selectedFiles.length > 0" class="selected-files">
      <h3>Selected Files:</h3>
      <ul>
        <li *ngFor="let file of selectedFiles; let i = index">{{ file.name }}
          <button type="button" class="btn btn-sm btn-danger" (click)="removeSelectedFile(i)">Remove</button>
        </li>
      </ul>
      <button type="button" class="btn btn-danger" (click)="clearSelectedFiles()">Clear Selection</button>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
