<div class="dashboard-container">
  <h4>Session Overview</h4>
  <div class="upper dashboard-component">
    <div class="content-row">

      <div class="content">
        <app-single-attribute [attribute_info]=singleAttributes[0]></app-single-attribute>
      </div>

      <div class="content">
        <app-single-attribute [attribute_info]=singleAttributes[1]></app-single-attribute>
      </div>

      <div class="content">
        <app-multi-attribute [multi_attribute_info]=multiAttributes[0]></app-multi-attribute>
      </div>

      <div class="content">
        <app-multi-attribute [multi_attribute_info]=multiAttributes[1]></app-multi-attribute>
      </div>

      <div class="content">
        <app-multi-attribute [multi_attribute_info]=multiAttributes[2]></app-multi-attribute>
      </div>

      <div class="content">
        <app-multi-attribute [multi_attribute_info]=multiAttributes[3]></app-multi-attribute>
      </div>

      <div class="content">
        <app-dual-attribute [dual_attribute_info]=dualAttribute></app-dual-attribute>
      </div>


    </div>
  </div>

  <div class="lower">

    <app-overview-bar-chart class="dashboard-component" id="bar-chart"
                            [vsimTimes]="vsimTimes"
                            [vsimMemories]="vsimMemories"
                            [voptMemories]="voptMemories"
    />
    <app-heat-map class="dashboard-component" id="heat-map"/>
    <div class="dashboard-component" id="usage-profile">

      <h6>Usage Profile</h6>
      <app-usage-profile-table>
      </app-usage-profile-table>

    </div>
  </div>
</div>
