.container {
  display: flex;
  flex-direction: column;
  width: inherit;
  background-color: #0b5394;
  border-radius: 10px;
  border: 2px solid #fff;
}

h4 {
  color: white;
}

.content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.upper p {
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: 10px;
  border-radius: 15px;
}


.upper {
  flex-basis: 25%;
}

.lower {
  flex-basis: 91%;
}

.dashboard-component {
  border-radius: 20px;
  background-color: #073763;
  margin: 10px;
  padding: 10px;
}

.upper,
.lower {
  display: flex;
  align-content: center;
  justify-content: center;
}


.name {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  .content-row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}