.usage-profile {
  margin-bottom: 10px;
  width: 100%;
  color: white;
  overflow: auto;
}

.table-header {
  font-size: 14px;
  justify-content: space-evenly;
  overflow: visible;
  overflow-wrap: normal;
}

.col-entry {
  color: silver;
  font-size: 12px;
  max-width: 25px;
  height: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.col-entry:hover {
  transition: 0.5s;
  color: lawngreen;
  font-size: 15px;
}

.item-data {
  color: white;
  border-radius: 5px;
  border: white solid 1px;
  margin: 5px;
  padding: 5px;
}

.btn {
  align-content: end;
}
